<!doctype html>
<html lang="en-US" ng-app="AddressBook">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class ="container" ng-controller ="ToDoController as doCont">
    <h1>Address Book</h1>
    <form>
      <label>Person </label><input ="text" ng-model="doCont.newcontact.person">
      <label>Address </label><input ="text" ng-model="doCont.newcontact.address">
      <label>Phone </label><input = "text" ng-model="doCont.newcontact.phone">
      <label>Email </label><input ="text" ng-model="doCont.newcontact.email">
      <button ng-click ="doCont.addtoList()">Add to List!</button>
    </form>
    <table>
      <thead>
        <tr>
        <th> Person </th>
        <th> Address </th>
        <th> Phone </th>
        <th> Email </th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(contactID,list) in doCont.contact">
          <td>{{list.person}}</td>
          <td>{{list.address}}</td>
          <td>{{list.phone}}</td>
          <td>{{list.email}}</td>
          <td><button ng-click="doCont.removeTodo(contactID)">Remove</button></td>
        </tr>
      <tbody>
    </table>
  </div>
  <script src="https://cdn.firebase.com/js/client/2.0.6/firebase.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="main.js"></script>
</body>
</html>
