<table>
  <thead>
    <tr>
    <th> Person </th>
    <th> Address </th>
    <th> Phone </th>
    <th> Email </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(contactID,list) in doCont.contact">
      <td>{{list.person}}</td>
      <td>{{list.address}}</td>
      <td>{{list.phone}}</td>
      <td>{{list.email}}</td>
      <td>
        <a class="btn btn-primary" href="/#/{{contactID}}/edit">Edit</a>
        <a class="btn btn-secondary" href="/#/{{contactID}}">Show</a>
        <a class="btn btn-primary" ng-click="doCont.removeTodo(contactID,list)">Remove</a>
      </td>
    </tr>
  <tbody>
</table>
